# Виртуальное окружение
.venv/
venv/

# Конфиденциальные данные
sessions/
configs/*.json
*.session
*.session-journal

# Базы данных и данные
data/
database/
*.db

# Временные файлы
temp/
logs/

# Python
__pycache__/
*.py[cod]
*.class

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db
